<div class='large-12 columns'>
  <div class="left-column large-2 columns">
    <div class="row">
      <div><img src="http://assets.iwannawatch.to/wp-content/uploads/2011/06/Reign-Over-Me-20071.jpg"></div>
    </div>

    <div class="row">
      <ul>
        <li><div><p><%= @movie.title %></p></div></li>
        <li><div><p><%= @movie.year %></p></div></li>
      <ul>
    </div>
  </div>

  <div class="large-10 columns">
      <div class="review-container">
      <div class="row right-column top-row">
        <fieldset>
          <legend>Add your review</legend>
          <%= form_for [@movie, @review] do |f|%>

            <div class="row large-12 columns">
              <div class="field">
                <%= f.text_area :body %>
              </div>
              <div class="button">
                <%= f.submit %>
              </div>
            </div>

          <% end %>
        </fieldset>
       </div>
        <div class="row right-column bottom-row">
          <% if !@movie.reviews.empty? %>
            <% count = 0 %>
              <% @movie.reviews.each do |review| %>
                     <fieldset class="review-<%= count %>">

                        <legend><%= review.user.user_name %></legend>
                        <p class="review-body-<%= count %>"><%= review.body %></p>
                        <% if review.user == current_user %>
                          <div class="buttons-review edit edit-<%= count %>">
                            <%= link_to "Edit", '#', name: count %>
                              </div>
                                <div class="buttons-review delete delete-<%= count %>">
                                  <%= link_to "Delete", movie_review_path(@movie, review), class: "delete-#{count}", method: :delete %>
                                    </div>

                            <div class="review-form review-form-<%= count %>">
                              <%= form_for [@movie, review] do |f|%>
                                    <div class="field">
                                      <%= f.text_area :body %>
                                    </div>
                                  <div class="actions">
                                    <%= f.submit %></div>
                                    <div class='answer-button cancel'>
                                    <%= link_to 'Cancel', '#', name: count %>
                                  </div>
                              <% end %>
                            </div>

                         <% count += 1 %>
                        <% end %>
                      </fieldset>
              <% end %>
            <% end %>
          </div>
      </div>
  </div>
</div>
 </div>
  </div>
