<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MovieHub" %></title>

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <%= image_tag "hipsterlogogenerator_1427901012986.png", size: "54x54" %>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to "Add a New Movie", new_movie_path %></li>
        <%- end -%>

        <li class="active"><%= link_to "Home", movies_path %></li>

        <%- if current_user -%>
          <li class="has-dropdown">

            <%= link_to image_tag("http://upload.wikimedia.org/wikipedia/commons/4/49/Koala_climbing_tree.jpg", id: "profile-icon"), "#", id: "profile-link", "data-dropdown" => "hover1", "data-options" => "is_hover:true; hover_timeout:5000" %>

            <ul class="dropdown">
              <li><a href="#">View Profile</a></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path(current_user) %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>

      <ul class="left">
        <li class="has-form">
          <div class="row collapse">
            <%= form_tag(show_movie_path, method: "get") do %>
              <div class="large-8 small-9 columns">
                <%= text_field_tag(:search_title, "Find a Movie") %>
              </div>
              <div id="titles-list-container">
                <ul id="titles-list"></ul>
              </div>
              <div class="large-4 small-3 columns">
                <%= submit_tag("Search", class: "button", id: "search-button") %>
              </div>
            <% end %>
          </div>
        </li>
      </ul>


    </section>
  </nav>

  <div class="row">
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>
  </div>

  <div class="row">
    <div class="movie-header">
      <h1>MovieHub</h1>
    </div>
  </div>

  <div class="body-content">
    <div class="large-12 columns main-content">
      <div class="opacity-reset">

        <%= yield %>

      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
